<ion-content>
      <div class="main-content">
        <header>
            <img src="assets/icon/logo.svg" alt="">
        </header>
        <div class="drop-zone_wrapper">
          <div class="main-content__drop-zone">
            <app-drag-and-drop [files]="files" (fileSelected)="handleFiles($event)"/>
              <div class="filter-container">
                <app-switcher class="filter-element"></app-switcher>
              </div>
              <div class="submit_button_container">
                <ion-button [disabled]="files.length < 1" class="submit_button" (click)="sendFiles()">Отправить</ion-button>
              </div>
          </div>
          <div>
            <strong class="main-content__title">Нужно отформатировать документ?</strong>
          </div>
        </div>

      </div>
  </ion-content>
